@import url('normalize.css');
		
/*
================================================================================================================================================		
Structure
================================================================================================================================================		
*/
		
		
body {
	margin:0 auto;
	max-width:800px;
}


*{
	font-family: 'Orbitron', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}


body{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display:block;
	} 	

/*
================================================================================================================================================
Navigation-menu
================================================================================================================================================
*/

#mobile-menu{
	display:none;
}


#navigation-menu-computer{
	border-bottom: 1px solid 
}	

	
	
	
nav ul li {
	display: inline-block;
	padding: 10px;
	
}

nav ul {
	margin-left:0 auto;
}

nav ul li a {
	text-decoration:none;
	color:white;
	font-size:18px;
}


#activeSite{
	border-bottom: solid white;
}


nav ul li a:hover{
	border-bottom: solid white;
}

/*
================================================================================================================================================
Grid
================================================================================================================================================
*/

#master-grid{
	display:grid;
	grid-template-rows: auto auto auto 200px; 
	grid-gap:10px;
	grid-template-areas: 
						"bread-crumbs"
						
						"header"
						"main-content"
						"footer";
}


/*
================================================================================================================================================
Articles
================================================================================================================================================
*/

#flexWrapperIndex{
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	color:Azure;
}

article{
	margin:10px;
	padding:20px;
}

ul li{
	list-style:none;
}

article a{
	
	color:white;
	}
article a:hover{
	text-decoration:none;
	color:rgb(255, 115, 0);
}	

article a:visited{
	color:yellow;
}

/*
================================================================================================================================================
Main
================================================================================================================================================
*/

body{
	background-image:url("photo-1510964603866-e2ce7d6c6728.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}

#mainContent{
	border-radius:5px;
	background-color: rgba(255, 115, 0, 0.1);
	border-radius: 5px;	
}

h1{
	font-size: 60px;
}

#mainContent{
	grid-area:main-content;
	color:yellow;
	text-align:center;
}


header{
	grid-area:header;
}

#bread-crumbs{
	grid-area:bread-crumbs;
	font-weight:bold;
	color:Azure;
}

/*
===============================================================================================================================================
Bread-crumbs
===============================================================================================================================================

*/

#breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

#breadcrumbs li{
	display:inline;
	color:azure;
	font-size:18px;
	
}

#breadcrumbs li+li:before{
    padding: 8px;
    color: azure;
    content: "/\00a0";
}


/*
================================================================================================================================================
footer
================================================================================================================================================
*/

footer {
	grid-area: footer;
	text-align:center;
	background-color:#2e3830;
	color:Azure;
}

footer i {
	color:rgb(255, 115, 0);
}

footer i:hover {
	opacity:0.5;
	margin-bottom:10px;
}

#navigation-menu-computer{
	grid-area:navigation-menu;}

/*
================================================================================================================================================
Mobile menu  	
================================================================================================================================================
*/

@media all and (max-width: 700px)	{


/*Font-sizing */

	
	html {							
	font-size: calc(1em + 1vw);
	
	}
	

	h1 { 
		font-size: 3rem; }
	h2 { 
		font-size: 2.2rem; }
	h3 {
		font-size: 1.8rem; }
	h4 {
		font-size: 1.2rem; }
	p {
		font-size: 1rem; }
	}