@import url('normalize.css');

@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro');



	/*Struktur */


	

body{
	background-color:#FFFAF0;;
	}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	}

p{
	color:white;
	}

#bread-crumbs{
		
	grid-area:bread-crumbs;
	font-weight:bold;
	}
	
#master-grid{
	
	width:100%;
	max-width:1200px;
	margin: 0 auto;
	grid-gap:10px;
	display:grid;
	grid-template-rows:	auto 400px 60px auto 100px;
	grid-template-areas: 	"bread-crumbs bread-crumbs bread-crumbs bread-crumbs"
								"header header header header"
								 "top-menu top-menu top-menu top-menu"
								"main-content main-content main-content	side-bar"
								"footer footer footer side-bar";
	}


h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
	}
		
#mobile-menu{
	display:none;
	}
	
	
	
/*Bread-crumbs*/

		
		
#bread-crumbs{
	font-weight:bold;
}		
		
#bread-crumbs a{
	font-weight:normal;
	text-decoration:none;
	color:black;
	
}	

#bread-crumbs a:hover {
	color:green;
}	

#bread-crumbs a:visited{
	color:red;
	
}
		
		
		/*top-menu */

		
	
#active-directory{
	border-bottom: solid black 3px;
	opacity:0.6;
	}	
	
#top-menu ul li{
	display:inline-block;
	}
	
#top-menu ul li a {
	text-decoration:none;
	padding: 0 25px;
	color:black;
	opacity:0.6;
	}
		
#top-menu a:visited{
	color:red;
	}
		
#top-menu a:hover{
	border-bottom: solid black 3px;
	}
	
	/*Main content */
	
#master-grid #main-header{ /*Øverste header */
	border-radius: 50px 5px;
	background-image:url('img/nasa.jpg');  /* Image taken from Nasa's accound on Unsplash.com */
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	text-shadow:1px 1px yellow;
	grid-area:header;
	text-align:center;
	color:#FFCE2B;
	}
	
	
#main-content{
	grid-area:main-content;
	background-color:#B2AFAC;
	}

/*Navigasjons-meny */
		
nav#top-menu{
	grid-area:top-menu;
	margin: 0 auto;	
	}
				
		
	/*Side-bar*/


#clipAccess{				/*Alternativ tekst for mobiler skjules ved normal størrelse.  For mobiler vises denne, mens iframe skjules */
	display:none;
	}
	
						/* Dimensjonen på iframe settes lik 1/3 av siden, dvs. 400px
						*/	
#seoClip{
	
	width: 400px;
	height: 400px;	
	}

		
#side-bar {
	
	grid-area:side-bar;
	color:black;
	background-color:#B2AFAC;
	display:grid;
	grid-row-gap:10px;
	grid-template-rows:100px auto auto;
	grid-template-areas: 
							"side-header"
							"side-links"
							"side-video"
							"side-hit";
	}
	
#side-bar section{
	
	border: solid #42413D 1px;
	padding:15px;
	border-radius: 5px;
	}
	
#side-bar section ul {
	
	list-style-type:none;
	}	
		
#side-bar section a {
	
	color:white;
	text-decoration:none;
	}
	
#side-bar section ul li{
	
	padding: 10px 0;	
	}
	
#side-bar section a:hover{
	color:gray;
	}


	
	#sideHeader{
		grid-area:side-header;
		width:100%;
	}
	
	#sideLinks{
		grid-area:side-links;
		width:100%;
	}
	
	#sideVideo{
		grid-area:side-video;
		width:100%;
	}
	
	sideHit{
		grid-area: side-hit;
		width:100%;
	}


	
	/*Index & Flex-articles */
	
#flex-section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;	
	align-content: space-around;}

#flex-section h2{
	text-align:center;
	
}
	
.rubricPic{
	width:45%;
	height:50%;
	margin:0 25%;
	position: relative;
	overflow:hidden;
	background-position: 50% 50%;
	background-repeat: no-repeat;
		
	}
	
.rubricPic2{
	width:80%;
	height:80%;
	margin:0 10%;
	position: relative;
	overflow:hidden;
	background-position: 50% 50%;
	background-repeat: no-repeat;
		
	}
	
	
#flex-section article{
	overflow: hidden;
	padding:15px;
	border: 1px solid #42413D;
	border-radius: 5px;
	margin-bottom:20px;
	width:49%;
	box-shadow:10px 10px 10px #888888;
	}
	
#flex-section article a {
	
	float:right;
	text-decoration:none;
	padding:8px;
	color:white;
	border-style:solid;
	border-color:#42413D;
	border-width:1px;
	border-radius:5px;
	}
	
#flex-section article a:hover{
	
	color:white;
	background-color: #42413D;	
	}
	
#section article a:target{
	
	color:red;
	background-color: white;	
	}
	
	
	/*Article pages*/
	
#flexion a img:hover{
	opacity:0.3;
	transition: 1.5s;
	}
	
#screenshotIndex{
	width:50%;
	height:auto;
	}
	
	
.sassImg{
	
	width: 50%;
	height: auto;
	margin:15px;	
	}
	
#flexion{
	
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	flex-wrap:wrap;
	align-content:center;	
	}
	
#flexion article{
	width:100%;
	overflow:hidden;
	padding:15px;
	border-style:solid;
	border-width:1px;
	margin-bottom:20px;
	border-radius:5px;
	box-shadow:10px 10px 20px #888888;
	}
	
#flexion article a {
	text-decoration:none;
	color:white;
	
}	
#flexion article a:target{
	color:orange;
}


#flexion article a:hover{
	color:gray;
}

#flexion article a:visited{
	color:red;
}

#flexion ul li {
	list-style-type:none;
	padding: 5px 0;
}
	
	/*Footer*/
	
footer p a{
	
	border-left:solid 1px;
	padding:5px;	
	}
	
	footer{
		
	grid-area: footer;
	background-color:#995236;
	}
		
footer p {
		
	text-align:center;	
	}	
	
footer p a {
	
	color: white;	
	}

/*------------------------------------------------------------------------Mindre enheter------------------------------------------------------------------------*/
	
	
	
@media all and (max-width: 1098px){
	
	
	
#seoClip{
	
	width: 90%;
	height: 300px;	
	}
	
}	
	
	
	
@media all and (max-width: 1005px)	{
	
	bar-button{
		grid-area: barButton;
	}
	
	#seoClip{
	margin-left:15%;
	width: 70%;
	height: 300px;	
	}
	
	
	#master-grid{
		
		width:100%;
		margin: 0 auto;
		display:grid;
		grid-template-rows:	auto 250px auto auto auto 100px;
		grid-template-areas:
 	
			"bread-crumbs"
			"header"
			"top-menu"
			"main-content"
			"side-bar"
			"footer";
	}

	#top-menu ul li a{
		padding:0 20px;
	}
	
	#flex-section article{
		
		width: 48%;
	}
	
	/* Seo-clip bugger ved ca 1105px */
		
		
}
	
	/*------------------------------------------------------------------------mobil-meny------------------------------------------------------------------------*/
	
	
@media all and (max-width: 800px)	{


	/*Font-sizing */

	
	html {							/*Denne har blitt plassert lenger nede ganske bevisst. 
									For mindre dimensjoner vil skriftstørrelsen bli uholdbar stor. Ådne */
	font-size: calc(1em + 1vw);
	}
	

	h1 { 
		font-size: 3rem; }
	h2 { 
		font-size: 2.2rem; }
	h3 {
		font-size: 1.8rem; }
	h4 {
		font-size: 1.2rem; }
	p {
		font-size: 1rem; }


	/* Resterende */
	
	#clipAccess{
		display:inline;
		}
	
	
	 #seoClip{
		display:none;
		
	} 

	 #mobile-menu{
		display:inline-block;
		grid-area:mobileMenu;
		}	
		
	#mobile-menu ul{
		list-style-type:none;
		
	}	
	
	#mobile-menu ul li {
		border-bottom:solid;
		border-bottom-color:black;
	}	
	
	
	#mobile-menu ul li a {
		color: white;
		text-align:center;
		width: 100%;
		background-color:grey;
		padding:30px;
		font-size: 20px;
		display:block;
		text-decoration:none;	
		
	}	
	
	#mobile-menu ul li a:hover {
		background-color: #B2AFAC;
		
	}
		
	
		
		
	#side-bar {
		grid-area:side-bar;
		color:black;
		border-right: 1px solid #f3f3f3;
		background-color:#B2AFAC;
		display:grid;
		grid-template-rows:auto auto auto auto auto;
		grid-template-areas: 
							"side-header"
							"side-links"
							"side-video"
							"side-hit";
							
		}	
		
		
		
		
	#drop-down-list{
		margin-left:-50px;
		display:none;
	}		
	  
	  
	#top-menu{  /*Meny skjules */
		display:none;
	}
	
	

	#flex-section article{
		width:100%;
	}
	
	
	
	#flex-section article a {
		float:right;
		text-decoration:none;
		padding:30px;
		color:white;
		border-style:solid;
		border-color:#42413D;
		border-width:1px;
		border-radius:5px;
	}
	
	
	
	#flex-section article a:hover{
		color:white;
		background-color: #42413D;
		
	}
	
	
	#flex-section h1,h2,h3,h4,h5,h6{
		text-align:center;
		
	}
	
	article ul li {
		padding: 10px;
		
	}
	
	/*Images*/
	
	#flex-section img {
		width: 50%;
		margin-left:25%;
	}
	
	#flex-section #imgTallAnalytics{
		width:30%;
		margin-left:35%;	
		
	}

	#flex-section #imgTallTelescope{
		width:30%;
		margin-left:35%;
	}

	
	#screenshotIndex{
	width:95%;
	height:auto;
	}
	
	
	.sassImg{
		width: 95%;
		height: auto;
			
	}
	
	/*Grid-layout*/
	
	#master-grid{
		
		grid-template-rows:	auto 200px auto auto auto 150px;
		grid-template-areas: 
			"bread-crumbs "
			"header "
			"mobileMenu"
			"main-content"
			"side-bar"
			"footer";
	}

	
	
	
	
	#master-grid #main-header{ /*Øverste header */
		border-radius: 50px 5px;
		background-image:url('img/nasa.jpg');  /* Image taken from Nasa's accound on Unsplash.com */
		background-attachment:scroll;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
		text-shadow:1px 1px yellow;
		grid-area:header;
		text-align:center;
		color:#FFCE2B;
		}
	
}